# ------
# D Lang

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html

# ------
# python
*.pyo
*.pyc
__pycache__/

# ---
# vim
*.swp

# -----
# cmake
build/
build_hs/
