# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
a.out
*.exe

# DUB
.dub
docs.json
__dummy.html

# ------
# D Lang

# ------
# python
*.pyo
*.pyc
.venv/
__pycache__/

# ------
# vscode
*.vscode

# ---
# vim
*.swp

# -----
# cmake
build/

# ------
# cabal
dist-newstyle/